.App {
  display: block;
  margin: auto;
  text-align: center;
}

.reset-button {
  width: 200px;
  height: 40px;
  display: inline-block;
  margin: auto;
  background-color: #E6E6E5;
  border-radius: 15px;
  color: black;
  line-height: 40px;
  cursor: pointer;
}

.game-state-two-wrapper {
  display: inline-block;
}

.game-state-two {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 300px 200px 300px;
  grid-template-rows: 150px 200px;
  margin: auto;
}

.house-pick, .player-pick {
  font-size: 1.8rem;
  letter-spacing: .5px;
  font-weight: 600;
}

.game-result {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  font-size: 3rem;
  letter-spacing: .5px;
  font-weight: 600;
}

.game-state-two .rock::after {
  width: 0px;
  border-bottom: 0px solid white;
}
.game-state-two .paper::after {
  width: 0px;
  border-bottom: 0px solid white;
}
.game-state-two .scissors::after {
  width: 0px;
  border-bottom: 0px solid white;
}

.game-state-two .btn {
  width: 100px;
  height: 100px;
}

.game-state-two .btn:hover {
  cursor: auto;
}


* {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

.img-border{
  display: inline-block;
  padding: 15px;
  border-radius: 100%;
  margin: 10px 30px;
}

.rock{
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
} 

.rock::after {
  width: 200px;
  border-bottom: 10px solid rgb(21,37,61);
  transform:
      translateY(-150px)
      translateX(-160px)
      rotate(60deg); 
  position: absolute;
  content: "";
  z-index: -1;
}

.scissors::after {
  width: 200px;
  border-bottom: 10px solid rgb(21,37,61);
  transform:
      translateY(30px)
      translateX(-155px)
      rotate(120deg); 
  position: absolute;
  content: "";
  z-index: -1;
}

.paper::after {
  width: 200px;
  border-bottom: 10px solid rgb(21,37,61);
  transform:
      translateY(-65px)
      translateX(0px)
      rotate(0deg); 
  position: absolute;
  content: "";
  z-index: -1;
}

.paper {
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}


.scissors {
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 35px;
  
}

.btn-wrapper {
  border-radius: 100%;
  box-shadow: inset 0px 10px  5px rgba(0,0,0,0.2);
  background-color: #E6E6E5;
}

.btn:hover {
  cursor: pointer;
}

.stateInfo {
  text-align: left;
  width: 500px;
  margin: auto;
}

.score {
  border: solid 3px hsl(217, 16%, 45%);
  border-radius: 15px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 550px;
  margin: 20px auto;
}

.score-panel {
  background-color: #f8f8f8;
  width: 100px;
  height: 80;
  border-radius: 15px;
  padding: 0 10px;
}

.score-number {
  text-align: center;
  color: hsl(229, 25%, 31%);
  font-size: 4rem;
  transform: translateY(-10px);
  padding-top: 5px;
  line-height: 4rem;
  font-weight: 700;
}

.score-title {
  text-align: center;
  padding-top: 5px;
  color: hsl(229, 64%, 46%);
  font-size: 1rem;
  letter-spacing: .15rem;
  font-weight: 700;
}

.logo {
  width: 150px;
  height: 92.5px;
}
body, html {
  width: 100%;
  height: 100%;
}



body {
  background-image: radial-gradient(at top, hsl(214, 47%, 25%) , hsl(237, 49%, 15%));
  background-position: left top;
  padding: 20px;
  background-attachment: fixed;
  
}

@media (max-width: 600px) {
  .score {
    padding: 25px;
    max-width: 300px;
    margin-bottom: 40px;
    margin-top: 20px
  }

  .btn {
    width: 50px;
    height: 50px;
    padding: 25px;
  }
  .img-border{
    padding: 10px;
  }
  .game-state-two {
    grid-template-columns: 150px 80px 150px;
    grid-template-rows: 80px 170px;

  }

  .game-state-two .btn {
    width: 30px;
    height: 30px;
  }
  .game-result {
    height: 25px;
    line-height: 25px;
    font-size: 1.7rem;
    align-self: start;
    transform: translateY(-30px);
  }

  .reset-button {
    width: 80px;
    height: 30px;
    border-radius: 8px;
    line-height: 30px;
    font-size: .7rem;
    align-self: end;
  }

  .house-pick, .player-pick {
    font-size: 1.3rem;
  }

}