.App {
  margin: auto;
  text-align: center;
}

.btn {
  margin: 20px auto;
  border: 1px solid black;
  width: 200px;
  height: 30px;
  border-radius: 10px;

}

.stateInfo {
  text-align: left;
  width: 500px;
  margin: auto;
}

.btn:hover {
  cursor: pointer;
  background-color: lightgray;
}

.game-status {
  padding-top: 30px;
  width: 800px;
  height: 200px;
  color: greenyellow;
  background-color: black;
  margin: auto;
  border-radius: 10px;
}